body {
  background-color: #000;
  margin: 0;
  font-size: 24pt;
  color: #fff;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.links {
  padding: 48pt 10pt;
  border-bottom: #FF73FD 1pt solid;
  background: #0b0517;
}

.links a {
  display: inline-block;
  text-decoration: none;
  background: #000;
  border: #FF73FD 1pt solid;
  border-radius: 4pt;
  padding: 5pt 20pt;
  width: 5em;
  margin: 5pt;
  color: #fff;
}

.hero {
  display: flex;
}

.hero-image {
  width: 100%;
}

.info {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  padding: 24pt 10%;
}

.info a {
  color: #FF73FD;
}

.videos {
  display: flex;
  border-bottom: #FF73FD solid 1px;
}

.videos video {
  width: 100%;
}

.footer {
  padding: 12pt;
  border-top: #FF73FD solid;
  border-width: 1pt 0pt 0pt;
  font-size: 12pt;
  background: #0b0517;
}
